@use '../../node_modules/sass-true/sass/true' as *;
@use '../../sass/inspect/cie';

@include describe('inspect/cie') {
  @include describe('lightness()') {
    @include it('Returns the CIE lightness of a Sass color') {
      @include assert-equal(
        cie.lightness(#672396),
        29.5921856913%,
        $inspect: true
      );
    }
  }

  @include describe('a()') {
    @include it('Returns the Lab a channel of a Sass color') {
      @include assert-equal(
        cie.a(rgb(97,125,108)),
        -13.2914711339,
        $inspect: true
      );
    }
  }

  @include describe('b()') {
    @include it('Returns the Lab b channel of a Sass color') {
      @include assert-equal(
        cie.b(rgb(97,125,108)),
        5.8314910038,
        $inspect: true
      );
    }
  }

  @include describe('chroma()') {
    @include it('Returns the CIE chroma of a Sass color') {
      @include assert-equal(
        cie.chroma(#672396),
        67.8432391872,
        $inspect: true
      );
    }
  }

  @include describe('hue()') {
    @include it('Returns the CIE hue of a Sass color') {
      @include assert-equal(
        cie.hue(#672396),
        312.0422966709deg,
        $inspect: true
      );
    }
  }
}
