@use '../index' as blend;
@use 'gradient';


// we'll create a gradient on the _ channel
$channels: 50% 50 _;


// the gradient channel will range from 1 through $range
$range: 360;


html {
  background-image: gradient.stops($channels, $range);
  color: blend.lch(80% 65 0);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
