@use '../index' as blend;
@use '../sass/utils/array';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

// we'll create gradients on the _ channels
@use 'gradient' with (
  $lch: 50% 50 _,
);

// layout
body {
  background-image:
    gradient.stops(),
    gradient.rgb-from-lch()
  ;
  background-size: auto 50vh, cover;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  margin: 0;
  min-height: 100vh;
}

h1 {
  background: blend.lch(10% 15 0, 80%);
  color: blend.lch(90% 40 0);
  border-radius: 0.2em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5em;

  &::after {
    display: inline-block;
    content: gradient.content();
    font-family: 'Courier New', Courier, monospace;
    margin-inline-start: 0.4em;
  }
}
