@forward 'use';
@use 'rgb';
@use 'sass';

$convert: (
  'hsl': meta.get-function('rgb-to-hsl'),
  'hsl': meta.get-function('to-hsl'),
);

@function to(
  $rgb,
  $a: 100%,
  $format: config.$output
) {
  @if ($format == 'sass') {
    @return sass.to-color($rgb, $a)
  }
}
