@use '../convert';
@use 'lch';

@function lch(
  $lch,
  $a: 100%
) {
  $lch: lch.normalize($lch);
  @return lch.value($lch, $a);
}

@function lab(
  $lab,
  $a: 100%
) {
  $lab: lch.normalize($lab);
  $lch: convert.Lab_to_LCH($lab);
  @return lch.value($lch, $a);
}
